body {
    background-image: url("https://img.freepik.com/free-vector/gradient-mint-background_23-2150282268.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704931200&semt=ais");
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Roberto Mono', monospace;
}

header {
    text-align: center;
    background-color: #05cdd4;
    color: #01292a;

    border-radius: 10px;
}

a {
    color: coral;
}

#styleDiv {
    background-color: white;
    margin-left: 3%;
    border-radius: 30px;
}

.textDiv {
    padding: 0.3%;
    margin-left: 3%;
    margin-right: 3%;
}

#mePhoto1 {
    height: 600px;
    border-radius: 30px;
}

#gHubLogo {
    height: 400px;
    border-radius: 30px;
}

.sect1 {
    display: flex;
}

.sect1CBig {
    flex: 3;
}

.sect1CSmall {
    margin-right: 3%;
    margin-left: 3%;
    flex: 1;
}

