body {
    background: rgb(3,247,250);
    background: linear-gradient(90deg, rgba(3,247,250,1) 15%, rgba(253,76,45,1) 85%);
}

.def-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3%;
    margin: 1%;
}

.def-grid {
    background-color: white;
    border-radius: 30px;
    padding: 1%;
}
